
<div class="wrapper-light-grey">
  <div class="card-container container">
    <div class="row">

      <h3>Users you follow</h3>
      <% @followings.each do |following| %>
      <div class="user-card">
        <%= link_to image_tag(following.picture, class: "avatar-friends-list"), user_path(following.id) %>
        <div class="user-card-content">
          <p><%= following.first_name %> <%= following.last_name %></p>
        </div>
        <div class="user-card-actions">
          <%#= link_to(user_user_relationship_path(following), method: :delete) do  %>
            <!-- <div class="btn btn-ghost"> Unfollow <div> -->
          <%# end %>
        </div>
      </div>
      <% end %>

      <h3>All Other Users</h3>
      <% @nonfollowings.each do |user|  %>
        <% if !(user.id == current_user.id) %>
          <div class="user-card">
            <%= link_to image_tag(user.picture, class: "avatar-friends-list"), user_path(user.id) %>
            <div class="user-card-content">
              <p><%= user.first_name %> <%= user.last_name %></p>
            </div>
            <div class="user-card-actions">
              <%= link_to(user_user_relationships_path(user), method: :post) do  %>
                <div class="btn btn-ghost">Follow </div>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
