<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="row">
  <div class="search-area user-search">
    <div class="search-field">
     <%= form_tag users_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control bigger-search", placeholder: "Search: First or Last Name" %>
        <% end %>
      </div>
  </div>
    <div class="user-heading">
      <h3>Following</h3>
    </div>
    <% @followings.each do |following| %>
      <% if !(following.id == current_user.id) %>
        <div data-user-id=<%=following.id%> class="user-card">
          <%= link_to image_tag(following.photo.url(:bright_face), class: "avatar-large"), user_path(following.id) %>
          <%= link_to user_path(following.id) do %>
            <div class="user-card-content">
              <p><%= following.first_name.titlecase %> <%= following.last_name.titlecase %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="user-heading">
      <h3>Suggested</h3>
    </div>
    <% @nonfollowings.each do |user|  %>
      <% if !(user.id == current_user.id) %>
        <div data-user-id=<%=user.id%> class="user-card">
          <%= link_to image_tag(user.photo.url(:bright_face), class: "avatar-large"), user_path(user.id) %>
          <%#= link_to user_path(user.id) do %>
            <div class="user-card-content">
              <p><%= user.first_name.titlecase %> <%= user.last_name.titlecase %></p>
            </div>
          <!-- <%# end %>  Having this uncommented ruins the follow button -->
          <div class="user-card-actions">
            <%= link_to(user_user_relationships_path(user), method: :post, remote: true ) do  %>
              <div id="user-follow-button" class="btn btn-ghost btn-ghost-black">Follow </div>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
