<h1>Users you follow</h1>

<div class="container">
  <div class="row">
    <% @followings.each do |following| %>
      <%= link_to(user_path(following.id)) do %>
        <div>
        <img class="img-circle" src="<%= following.picture %>" alt="">
        <%= following.first_name %>
        <%= following.last_name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<h1>All Other Users</h1>

<div class="container">
  <div class="row">
    <% @nonfollowings.each do |user| %>
      <%= link_to(user_path(user.id)) do %>
        <div>
        <img class="img-circle" src="<%= user.picture %>" alt="">
        <%= user.first_name %>
        <%= user.last_name %>
        <%= link_to(user_user_relationships_path(user), method: :post) do %>
          <div>click here to follow a user</div>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
