<!-- Tags associated to a specificif place taking account user relationships  -->
<% current_user.post_feed.where(place: place).each do |post| %>
  <% post.tags.each do |tag| %>
    <%
      if tag_collection[tag.name]
        tag_collection[tag.name] += 1
      else
        tag_collection[tag.name] = 1
      end
    %>
  <% end %>
<% end %>
<% tag_collection = tag_collection.sort_by {|k, v| v}.reverse %>

<!-- Card structure -->
<div class="col-xs-12">
  <div class="card">
    <% if current_user.post_feed.where(place: place).empty?  %>
      <% photo_url = place.posts.last.photo %>
    <% else %>
      <% photo_url =  current_user.post_feed.where(place: place).last.photo %>
    <% end %>

    <%= link_to place_path(place) do %>
     <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= photo_url %>);">
      </div>
    <% end %>
    <%# raise %>
    <div class="card-bottom">
      <div class="card-bottom-place">
        <p> <strong><%= place.name %></strong><br>
          <small><%#= place.neighbourhood %> <%= place.city %></small>
        </p>
        <%= render 'shared/wishlist_link', place: place %>
        <div class="friends-card-bottom">
          <p>  <%= pluralize (place.users & current_user.following).count, "friend" %> have been here </p>
        </div>
      </div>
      <div class="tags-card-bottom">
          <ul class="tags">
            <% tag_collection.first(4).to_h.each do |name, count| %>
              <li><a> <%= name %> (<%= count %>)</a></li>
            <% end %>
          </ul>
      </div>
   </div>

  </div>
</div>
