<!-- Tags associated to a specificif place taking account user relationships  -->
<% current_user.post_feed.where(place: place).each do |post| %>
  <% post.tags.each do |tag| %>
    <%
      if tag_collection[tag.name]
        tag_collection[tag.name] += 1
      else
        tag_collection[tag.name] = 1
      end
    %>
  <% end %>
<% end %>
<% tag_collection = tag_collection.sort_by {|k, v| v}.reverse %>

<!-- Card structure -->
<div class="col-xs-12">
  <div class="card">

    <%= link_to place_path(place) do %>
      <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= current_user.post_feed.where(place: place).last.photo %>);">
      </div>
    <% end %>

    <div class="card-bottom card-bottom-place">
    <p> <strong><%= place.name %></strong><br>
      <small><%= place.neighbourhood %>, <%= place.city %></small>
    </p>
      <div class="tags-card-bottom">
          <ul class="tags">
            <% tag_collection.first(4).to_h.each do |name, count| %>
              <li><a> <%= name %> (<%= count %>)</a></li>
            <% end %>
          </ul>
      </div>
      <%= render 'shared/wishlist_link', place: place %>
      <div class="friends-card-bottom">
        <p>  <%= pluralize current_user.post_feed.where(place: place).count, "friend" %> have been here </p>
      </div>
    </div>

  </div>
</div>
