<div class="wrapper-light-grey">
  <div class="card-container container">
  <div class="header">
    <div class="user-core">
      <p> <h3> <%= "#{@user.first_name} #{@user.last_name}"  %> </h3>
    </div>
    <div>
        <%= link_to(user_path(@user)) do  %>
          <small>Back to user profile</small>
        <% end %>

    <div class="highlights user-highlights">
      <% if @user == current_user %>
        <%= link_to(edit_user_registration_path) do  %>
          <div class="user-image">
            <img src="<%= cl_image_path(@user.photo) %>" alt="" class="avatar-large">
          </div>
        <% end %>
      <% end %>
      <div class="user-info">
        <% if @user == current_user %>
          <p> You have
          <%= pluralize @user.wishlist_items.count, "place" %>
          on your wishlist
        <% else %>
          <p> <%= "#{@user.first_name} has" %>
          <%= pluralize @user.wishlist_items.count, "place" %>
          on their wishlist
       <% end %>
      </div>
    </div>
    <div class="row row-margin">
      <div class="cards">
        <% @user.wishlist_items.each do |w_items| %>
          <%= render 'shared/cards_places', place: w_items.place, tag_collection: {} %>
        <% end %>
      </div>
    </div>
    <%= render 'shared/map', markers: @wishlist_markers %>
  </div>
</div>

