<div class="container sign-in-margin">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div class="form_card">
        <h2>Log In</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-group">
            <%= f.input :email,label: false, placeholder: "Email Address" , required: false, autofocus: true, input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-group">
            <%= f.input :password,label: false, placeholder: "Password" ,required: false, input_html: { autocomplete: "current-password" } %>
          </div>
          <button type="submit" class="btn-pink">Log In</button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div class="form_card">
      <span>Don't have an account yet?</span> <span><p><%= link_to 'Sign up.', new_user_registration_path  %></p></span>
      <span><p><%= link_to 'Forgot your Password?', new_password_path(resource_name)  %></p></span>
      </div>
    </div>
  </div>
</div>
