<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <%#= form_tag places_path, method: :get do %>
            <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: "Try \"Frank's\""%>
            <%# @tags.each do |tag| %>
                <%#= check_box_tag tag.id.to_s, 'y'%>
                <%#= label_tag tag.name %>
            <%# end %>
          <%#= submit_tag %>
        <%# end %>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <div class="form-group">
          <form action="/places" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">
            <input type="text" name="query" id="query" class="form-control" placeholder="Try &quot;Frank's&quot;">
        </div>

        <div class="row">
          <div class="form-group">
            <!-- <ul class="search-tags active"> -->
              <% @tags.each do |tag| %>
                <!-- <li><a> -->
                  <!-- <div class="tag-selector"> -->

                      <input class="hidden" type="checkbox" name="<%= tag.id.to_s %>" id="<%= tag.id.to_s %>" value="y">
                      <label class="btn-tag" data-tagid="<%=tag.id.to_s  %>" for="<%=tag.id.to_s%>" id="tag-selector"><%= tag.name %></label>

                    <%#=tag.name %>
                  <!-- </div> -->
                <!-- </a></li> -->
              <% end %>
            <!-- </ul> -->
          </div>
        </div>

                  <!-- </a>
                </li> -->

            <!-- </ul> -->
          <!-- </div> -->
          <input type="submit" name="commit" value="Save changes" data-disable-with="Search">
        </form>
      </div>
    </div>
  </div>
</div>












<div class="wrapper-light-grey">
  <div class="card-container">
    <div class="row">
      <% if @places.count == 0 %>
        <p>"Your friends have not been anywhere matching your search criteria. Please change your search criteria"</p>
      <% end %>
      <!-- Instead of returning nothing, could return an array of places other people went. -->
      <div class="cards">
        <% @places.each do |place| %>
          <%= render 'shared/cards_places', place: place, tag_collection: {} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div
  id="map"
  style="width: 375px;
  height: 815px;
  margin: auto;"
  data-markers="<%= @markers.to_json %>"
></div>





                <!-- input type="checkbox" class="hidden" value="<%= tag.id.to_s%>" name="tag[ids][]" id="tag__ids_<%= tag.id.to_s %>">
                <label for="tag_ids_<%#= tag.id.to_s %>">
                  <%#= tag.name %>
                  <i class="fa fa-check"></i>
                </label> -->
              <!-- </div> -->
