<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="form-post">
      <%= form_tag places_path, method: :get do %>
        <div class="row">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Try \"Frank's\"" %>
        </div>
        <div class="row">
          <p>What kind of place do you want to go to?</p>
          <%= render 'shared/tag_section', tags: @venue_tags, tag_collection: {} %>
        </div>
        <div class="row">
          <p>What are you going to be doing?</p>
          <%= render 'shared/tag_section', tags: @meal_tags, tag_collection: {} %>
        </div>
        <div class="row">
          <p>What vibe do you want?</p>
          <%= render 'shared/tag_section', tags: @vibe_tags, tag_collection: {} %>
        </div>
        <div class="row">
          <p>Any food you fancy in particular?</p>
          <%= render 'shared/tag_section', tags: @food_tags, tag_collection: {} %>
        </div>
        <div class="row">
          <p>What is it good for?</p>
          <%= render 'shared/tag_section', tags: @good_for_tags, tag_collection: {} %>
        </div>
        <div class="row">
          <%= submit_tag "Search", class: "btn-pink" %>
        </div>
      <% end %>
      <!-- <form action="/places" accept-charset="UTF-8" method="get"> -->
        <!-- <div class="row">
          <div class="form-group">
            <input name="utf8" type="hidden" value="✓">
            <input type="text" name="query" id="query" class="form-control" placeholder="Try &quot;Frank's&quot;">
          </div>
        </div>
        <div class="row">
          <input class="btn-pink" type="submit" name="commit" value="Search" data-disable-with="Search">
        </div> -->
      <!-- </form> -->
    </div>
  </div>
</div>


<div class="wrapper-light-grey">
  <div class="card-container container">
    <div class="row">
      <% if @places.count == 0 %>
        <p>"Your friends have not been anywhere matching your search criteria. Please change your search criteria"</p>
      <% end %>
      <!-- Instead of returning nothing, could return an array of places other people went. -->
      <div class="cards">
        <% @places.each do |place| %>
          <%= render 'shared/cards_places', place: place, tag_collection: {} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
