

Search by name
<%= form_tag places_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Try \"Frank's\""%>
  <%#= text_field_tag :tag, params[:tag], class: "form-control", placeholder: "Try \"Brunch\""%>
  <%#= f.association :tags, collection: @venue_tags, prompt: "Select Tags", label: "Venue", as: :check_boxes %>
  <%#= f.association :categories, as: :check_boxes %>


  <%#= check_box_tag 'select', 'brunch' %>
  <%#= check_box_tag 'select', 'lunch' %>

  <% @tags.each do |tag| %>
  <%= check_box_tag tag.id.to_s, 'y' %>
  <%= label_tag tag.name %>
  <% end %>


  <%= submit_tag %>
<% end %>



<div class="wrapper-light-grey">
  <div class="card-container">
    <div class="row">
      <% if @places.count == 0 %>
        <p>"Your friends have not been anywhere matching your search criteria. Please change your search criteria"</p>
      <% end %>
      <!-- Instead of returning nothing, could return an array of places other people went. -->
      <div class="cards">
        <% @places.each do |place| %>
          <%= render 'shared/cards_places', place: place, tag_collection: {} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div
  id="map"
  style="width: 375px;
  height: 815px;
  margin: auto;"
  data-markers="<%= @markers.to_json %>"
></div>
