<%#= render 'shared/wishlist_link', place: @place %>

  <div class="map-header" href="https://www.google.com/maps/place/<%= @place.latitude %>,<%= @place.longitude %>"
    style="
    background-image:url('https://maps.googleapis.com/maps/api/staticmap?center=<%= @place.name %>,<%= @place.address%>&zoom=13&size=370x300&maptype=roadmap&markers=color:blue%7Clabel:<%= @place.name[0] %>%7C<%= @place.latitude %>,<%= @place.longitude %>&key=<%= ENV['GOOGLE_API_SERVER_KEY'] %>">
  </div>

  <div class="simple-info-card">
    <h3><%= @place.name %></h3>
    <small><%= " #{@place.city} , #{@place.country} "%> <br>
      <p>
        <a href="https://www.google.com/maps/place/<%= @place.latitude %>,<%= @place.longitude %>" target="_blank">
          Get Directions
        </a>
          <% if !@place.website.nil? %>
            <a href="<%= @place.website %>" target="_blank">
            | Visit Website
            </a>
          <% end %>
      </p>
    <p><%= pluralize (@place.users & current_user.following).count, "friend" %> have been here</p>
    <div class="tags-card-bottom">
      <ul class="tags tags-place">
        <% @tag_collection.first(6).to_h.each do |name, count| %>
          <li class="li-place-tag"><a> <%= name %> (<%= count %>)</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <% @posts.each do |post| %>
      <%= render 'shared/cards_posts', post: post %>
    <% end %>
  </div>

<%= render 'shared/map', markers: @place_markers %>


