<%= render 'shared/wishlist_link', place: @place %>


<% tag_collection = {} %>
<% current_user.post_feed.where(place: @place).each do |post| %>
  <% post.tags.each do |tag| %>
    <%
      if tag_collection[tag.name]
        tag_collection[tag.name] += 1
      else
        tag_collection[tag.name] = 1
      end
    %>
  <% end %>
<% end %>
<% tag_collection = tag_collection.sort_by {|k, v| v}.reverse %>


<div class="wrapper-light-grey">
  <div class="card-container container">
  <div class="header">
    <div clas="place-core">
      <!-- Get the heart in here - bit bigger. Thanks! -->
      <p> <h3> <%= @place.name %> </h3>
       <small><%= " #{@place.city} , #{@place.country} "%> <br>
      <span class="smaller-font"><%= @place.address %></span><small></p>
    </div>
   <div class="highlights place-highlights">

       <p>  <%= pluralize (@place.users & current_user.following).count, "friend" %> have been here </p>
       <div class="tags-card-bottom">
          <ul class="tags tags-place">
            <% tag_collection.first(6).to_h.each do |name, count| %>
              <li class="li-place-tag"><a> <%= name %> (<%= count %>)</a></li>
            <% end %>
          </ul>
      </div>


  </div>

    <div class="row row-margin">
      <div class="cards">
        <% @posts.each do |post| %>
          <%= render 'shared/cards_posts', post: post %>
        <% end %>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="horizontal">
            <div
            id="map"
            style="width: 88%;
            height: 400px;
            margin: auto;"
            data-markers="<%= @markers.to_json %>"
            >
          </div>
        <div class="box-address-over-map">
          <p><strong>Address</strong></p>
          <p><%#= @place.name %>, <%= @place.city %></p>
 </div>
    <p>
      <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@place.latitude},#{@place.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
   </p>
</div>

 -->
