<div class="wishlist-link">
  <% wishlistclass = "wishlist-heart-clicked" if WishlistItem.where(place_id: @place.id, user_id: current_user.id).any? %>
  <%= link_to(place_wishlist_items_path(@place.id), method: :post, remote: true) do %>
    <i id="wishlist-heart" class="fa fa-heart wishlist-heart <%= wishlistclass %>" data-listing-id="<%= @place.id %>"></i>
  <% end %>
</div>


<% tag_collection = {} %>
<% current_user.post_feed.where(place: @place).each do |post| %>
  <% post.tags.each do |tag| %>
    <%
      if tag_collection[tag.name]
        tag_collection[tag.name] += 1
      else
        tag_collection[tag.name] = 1
      end
    %>
  <% end %>
<% end %>
<% tag_collection = tag_collection.sort_by {|k, v| v}.reverse %>


<div class="wrapper-light-grey">
  <div class="card-container container">
  <div class="header">
    <div clas="place-core">
      <!-- Get the heart in here - bit bigger. Thanks! -->
      <p> <h3> <%= @place.name %> </h3>
       <small><%= " #{@place.city} , #{@place.country} "%> <br>
      <span class="smaller-font"><%= @place.address %></span><small></p>
    </div>
   <div class="highlights place-highlights">

       <p>  <%= pluralize current_user.post_feed.where(place: @place).count, "friend" %> have been here </p>
       <div class="tags-card-bottom">
          <ul class="tags tags-place">
            <% tag_collection.first(6).to_h.each do |name, count| %>
              <li class="li-place-tag"><a> <%= name %> (<%= count %>)</a></li>
            <% end %>
          </ul>
      </div>


  </div>

    <div class="row row-margin">
      <div class="cards">
        <% @posts.each do |post| %>
          <%= render 'shared/cards_posts', post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
